body{ 
    background-color: #d0e1eb;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar ul{
 list-style: none;
 background-color: #3498db ;
 margin: 0;
    padding: 0;
}
.navbar li{
    display: inline-block;

}
a:hover{
    background-color: #d0e1eb;
}
.navbar a{
    color: #020202;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   float: right;
}
h1{
    color: #ffffff ;
    text-align: center;
    font-family: Comic sans MS;
    font-size: 50px;
}
.home p{ color: #ffffff;
 text-align: center;
 font-family: Comic sans MS;
 font-size: 35px;
}
.rea{
    text-align: left;
    margin-bottom: 10px;
}

