body{ 
    background-color: #d0e1eb;
    background-image: url(/images/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: right;
}
li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav a { color: #020202;
       font-weight: bold;

    }
h1{
    color: #ffffff ;
    text-align: center;
    font-family: Comic sans MS;
    font-size: 50px;
}
.home p{ color: #ffffff;
 text-align: center;
 font-family: Comic sans MS;
 font-size: 35px;
}

