.content {
  background-color: #364655;
  
  
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  font-family: 'Times New Roman', Times, serifgi;
}
.content h2 {
  font-size: 24px;
  line-height: 1.5px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}
.content p {
  text-align: center;
  font-size: 25px;
  font-family:sans-serif;
}
a {
  text-decoration: none;
  font-size: 20px;
}
.logo {
  max-height: 80px;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
nav {
  padding: 20px 0px;
  display: flex;
  position: sticky;
  justify-content: flex-end;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
}

a:hover,
nav li.active a {
  color: #ffffff;
}
.home h1 {
  color: #000000;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 50px;
}

.home p {
  color: #000000;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 25px;
}
.home {
  background-image: url(/images/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 300px 200px;
  border-radius: 5px;
  height: 750px;
}

/*Places to visit*/

.places {
  background-image: url(/images/bwave.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  padding: 300px 200px;
  border-radius: 5px;
  height: 200px;
}

.locations{
display: inline-block;
margin-left: 115px;

}

.locations:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 72%;
  transition: .7s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 55px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.locations:hover .overlay {
  opacity: 1;
}

.locations{
  text-align: center;
  font: 80px;
  color: black; 
  padding: 50px;
  transition: transform .2s;
  margin: auto;
 

}
 
.places h1 {
  color: #af8028;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
}
 
.places p {
  color: #af8028;
  text-align: center;
  font-family: cursive;
  font-size: 55px;
}
 
.places-info {
  height: 80px;
  padding: 30px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: #cfa658;
  text-align: center;
}
 
.places-info cite {
  height: 80px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}
 
.places-south-africa h1 {
  color: #af8028;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 180px;
  margin-right: 50%;
}
.places-south-africa img {
  float: right;
  border-radius: 50px;
  margin-top: 2px;


}
.places-locations {
  margin-top: 200px;
}
 
.places-locations h1 {
  color: #af8028;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
}
 
.places-south-africa p {
  margin-top: 70px;
}
.places-south-africa p {
  color: #af8028;
  text-align: left;
  margin-right: 50%;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
}
 
/*Places to visit end section*/

/*about us*/
.about-us img {
  line-height: 2.5px;
  border-radius: 60%;
  width: 200px;
  display: inline-block;

}
.our-images {
  display: flex;
  justify-content: space-between; 
}
.reviews{
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.review{
  border-radius: 20px;
  background-color: #445a66;
  margin-right: 10px;
}
.reviews p {
  font-size: 20px;
}
.reviews h2 {
  font-size: 40px;
  
}
/* end of about us*/

/*our services*/
.services{
  display: flex;
  justify-content: flex-start;
  margin-left: 90px;
  
}

.card {
  border: 2px solid rgba(107, 85, 163, 0.2);
  background-image: url(/images/Table_mountain_cable_way_with_lions_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  border-radius: 10px;
  padding: 10px 15px 10px;
  transition: all 150ms ease-in-out;
  text-align: center;
  margin: 10px;
  width: 40%;
}
button{
  border: none;
  background-color: #38a4e2;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.basic {
  background-image: url(/images/Mpumalanga/greens.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}
div li{
  font-weight: 500;
  list-style: none;
  font-size: 30px;
  text-align: start;
}
/*our services*/

.social-links {
  padding: 5px;
  text-align: center;
}
.footer p {
  margin: 60px 0;
  text-align: center;
  display: block;
}

footer {
  margin: 60px 0;
  text-align: center;
}

/*contact*/
.contactus {
  background-color: #cddff0;
  height: 750px;
  padding: 5px 10px;
}
.contactus h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.contactus h2 {
  font-size: 24px;
  line-height: 1.5px;
  text-align: center;
  padding: 20px 0;
}
.col {
  width: 100%;
  height: auto;
  float: left;
  padding: 45px;
  text-align: center;
  width: 24.99999%;
  position: relative;
  width: 50%;
}
/*end of contact*/

.image {
  display: block;
  width: 50%;
  height: auto;
}



.locations:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  transform: translate(-50%, -50%);
  text-align: center;
}

.col p {
  font-family: Comic sans MS;
  font-size: 15px;
}
/*start of booking page*/
.content-form h4 {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.content-form {
  padding:30px 100px;
  margin: 0 400px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(10, 0, 0, 0.2);
  box-shadow: 0 15px 20px rgba(10, 0, 0, 0.6);
  clear: both;
  display: flex;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
  font-size: medium;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="tel"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 18px;
  margin-left: 20%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
  display: inline-block;
  transition: .4s ease;

}
button[type="submit"]:hover {
  background-color: #566ce6;
}
button[type="reset"] {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px 18px;
  margin-left: 20%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
  display: inline-block;
  transition: .4s ease;

}
button[type="reset"]:hover {
  background-color: #566ce6;
}
.input-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}


/*end of bookings*/
@media (max-width: 900px) {
  .home h1 {
    font-size: 35px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 44px;
  }
  p {
    font-size: 18px;
  }
  .home {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 80px 20px;
  }
  nav a {
    font-size: 14px;
  }
  .about-us img {
    display: none;
  }
}

/* navbar ul and services ul*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d8bf42;
}

nav li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(8, 6, 6);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #d3a31f;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3a31f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(2, 2, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn1{
  background-color: #38a4e2;
}
#myBtn:hover {
  background-color: #555;
}