.content {
  margin-top: 1px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 1px;
}
.content h2 {
  font-size: 24px;
  line-height: 1.5px;
  text-align: center;
  padding: 20px 0;
  font-family: 'Times New Roman', Times, serif;
}
.content p {
  text-align: center;
  font-size: 20px;
  font-family:sans-serif;
}
a {
  text-decoration: none;
  font-size: 20px;
}
.logo {
  max-height: 100px;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
nav {
  padding: 20px 0px;
  display: flex;
  position: sticky;
  justify-content: flex-end;
}
nav ul {
  padding: 0;
  margin: 0px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  color: black;
}
a:hover,
nav li.active a {
  color: #ffffff;
}
.icon {
  display: none;
}
 
.home h1 {
  color: #ffffff;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 50px;
}
 
.home p {
  color: #ffffff;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 39px;
}
.home {
  background-image: url(/images/back2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 300px 200px;
  border-radius: 5px;
  height: 750px;
  position: relative; /* Make the home div a positioning context for the button */
}
.pause-button {
  position: absolute; /* Position the button absolutely within the home div */
  top: 90%; /* Center the button vertically */
  left: 50%; /* Center the button horizontally */
  transform: translate(-50%, -50%); /* Ensure the button is centered */
  display: none; /* Hide the button by default */
  /* Style the button as needed */
}

.home:hover .pause-button {
  display: block; /* Show the button when the home div is hovered over */
}
/* Quotes slideshow */
* {
  box-sizing: border-box;
}
 
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  font-size: 24px;
}
 
.slideshow-container {
  position: relative;
  background: #cfa658;
  padding-top: 30px;
  text-align: center;
}
 
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}
 
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #cfa658;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
 
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
 
.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}
 
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
 
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}
 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
 
.active,
.dot:hover {
  background-color: #c99028;
}
 
q {
  font-style: italic;
}
 
.author {
  color: cornflowerblue;
}
 
/*Places to visit*/
 
.places {
  background-image: url(/images/leo.avif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 300px 10px 300px 10px;
  border-radius: 5px;
  height: 300px;
}

.places1 {
  background-image: url(/images/capetown/couple.avif);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 300px 10px 300px 10px;
  border-radius: 5px;
  height: 300px;
}
 
.locations{
display: inline-block;
margin-left: 115px;
}
.locations img{
 border-radius: 50px;
}
 
.locations:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
 
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 80%;
  transition: .3s ease;
  opacity:0;
  color: #cfa658;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 55px;
  text-align: center;
}
 
/* When you mouse over the container, fade in the overlay title */
.locations:hover .overlay {
  opacity: 1;
  border-radius: 0 0 18% 18%;
}

.overlay1 {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 67%;
  transition: .2s ease;
  opacity:0;
  color: #cfa658;
  font-size: 20px;
  padding: 20px;
  padding-bottom: 20px;
  margin-bottom: 55px;
  text-align: center;
}
 
/* When you mouse over the container, fade in the overlay title */
.locations:hover .overlay1 {
  opacity: 1;
  border-radius: 0 0 30% 30%;
}
 
.locations{
  text-align: center;
 
  font: 80px;
  color: black;
  padding: 50px;
  transition: transform .2s;
  margin: auto;
  border-radius: 25%;
}
.places h1 {
  color: #af8028;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
 
}
.places1 h1 {
  color: #ffffff;
  text-align: center;
  font-family: cursive;
  font-size: 120px;
 
}

.destination p {
  color: #af8028;
  text-align: center;
  font-family: cursive;
  font-size: 55px;
}

.destination1 p {
  color: #af8028;
  text-align: center;
  font-family: cursive;
  font-size: 36px;
}
.places-info {
  height: 150px;
  padding: 30px;
  margin-top: 100px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: #cfa658;
  text-align: center;
  margin-top: 20px;
}
 
.places-info cite {
  height: 80px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}
.places-info1 {
  height: 150px;
  padding: 10px;
  margin-top: 150px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  background-color: #cfa658;
  text-align: center;
  margin-top: 80px;
}
 
.places-info cite {
  height: 220px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
}


.map{
  float: right;
  border-radius: 50px;
  margin-right: 45px;
  margin-top: 60px;
}

.map1{
  width: 60%;
  
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 60px;
  height: 400px;
}
.places-locations {
  margin-top: 110px;
  border-radius: 25%;
}
.places-locations h1 {
  color: #af8028;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  
}
.places-south-africa h1{
  margin-top: 20px;
  text-align: center;
}
.places-south-africa p {
  color: #af8028;
  text-align: left;
  margin-right: 50%;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  margin-left: 10px;
  border-radius: 25%;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.places-south-africa1 h1{
  margin-top: 10px;
  text-align: center;
}
.places-south-africa1 p {
  color: #af8028;
  text-align: center;
  
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  margin-left: 60px;
  margin-right: 60px;
 
  flex-direction: row-reverse;
  margin-top: 20px;
}
#more {
  display: none;
}
/*Places to visit end section*/
 
/*about us*/
.about-us img {
  line-height: 2.5px;
  border-radius: 10%;
  width: 200px;
  display: inline-block;
}
 
.image-container {
  text-align: center;
  margin: 10px; /* Adjust margin as needed */
  flex: 1;
}
 
.image-container img {
  border-radius: 10%;
  width: 200px;
  display: inline-block;
}
.our-images {
  display: flex;
  justify-content: center; /* Center horizontally */
  flex-wrap: wrap;
}
.captions {
  display: flex;
  justify-content: space-around;
  margin-right: 50px;
  text-align: center; /* Center the text */
 
}
.reviews{
  display: flex;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
.review{
  border-radius: 20px;
  background-color: #68747a;
  margin-right: 10px;
}
.our-images  p {
  font-size: 20px;
  align-items: center;
}
.reviews h2 {
  font-size: 40px;
 
}
/* end of about us*/
 
/*our services*/
.services{
  display: flex;
  justify-content: flex-start;
  margin-left: 90px;
}
.card p{
  font-size: 25px;
}
.card {
  border: 2px solid rgba(107, 85, 163, 0.2);
  background-image: url(/images/Table_mountain_cable_way_with_lions_head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color:rgb(255, 254, 254);
  border-radius: 10px;
  padding: 10px 15px 10px;
  transition: all 150ms ease-in-out;
  text-align: center;
  margin: 10px;
  margin-left: 60px;
  width: 40%;
  font-family:cursive;
}
button{
  border: none;
  background-color: #cfa658;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 
}
.basic2{
  background-image: url(/images/wall1.avif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color:white;
  font-size: 50px;
  font-family:cursive;
}
.basic {
  background-image: url(/images/cpt-wall1.avif);
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-size: 50px;
  font-family:cursive;
}
.basic h1,h3{
  color: #af8028;
  font-family:cursive;
}
.basic2 h1,h3{
  color: #af8028;
  font-family:cursive;
}
div li{
  font-weight: 500;
  list-style: none;
  font-size: 30px;
  text-align: start;
  
}
.more-text {
  display: none;
}
 
.gallery-container {
  position: relative;
}
 
 
.scroll-container {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}
 
.image-item {
  margin-right: 10px ; /* Adjust the spacing between images as needed */
}
 
.double {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  color: #364655;
}
 
.left-arrow {
  left: 10px;
}
 
.right-arrow {
  right: 10px;
}
 
.right-arrow:hover,.left-arrow:hover {
background-color: #cfa658;
}
 
/* ... your existing CSS code ... */
 
.image-item {
margin-right: 10px;
transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}
 
.image-item:hover {
transform: scale(0.9); /* Scale the image on hover */
}
 
/*our services*/
 
.social-links {
  padding: 5px;
  text-align: center;
}
.footer p {
  margin: 60px 0;
  text-align: center;
  display: block;
}
 
footer {
  margin: 60px 0;
  text-align: center;
}
 
/*contact*/
 
/* IMAGE PARALLAX*/
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: auto;
}
body {
  font-family: Arial;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-contact h1{
  margin-top: 0;
  font-size: 64px;
  font-family: 'Times New Roman', Times, serif;
}
.container-contact {
  width: 950px;
  color: rgb(5, 5, 5);
  line-height: 1.5;
  text-align: center;
  margin-left: 250px;
  margin-top: 0;
}
 
.content-contact{
  display: flex;
 
}
.icon {
  background-color: white;
  border-radius: 30px;
  padding: 15px;
  vertical-align: top;
}
 
.contact-info {
  display: inline-block;
  color: rgb(12, 11, 11);
  margin-left: 8px;
}
 
.address-line {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.col-1 a:hover{
color: rgb(255, 255, 254);
}
.col-1 {
  width: 500px;
  margin: 50px;
  background-color: #cfa658;
  border-radius: 10px;
}
 
.col-2 {
  flex: 1 1 auto;
}
 
.form-container {
  color: #000;
  width: 60%;
  margin: 0 auto;
  outline: black solid 2px;
  padding: 15px;
  border-radius: 5px;
}
.iframe{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
 
.contact-info-title {
  color: #000000;
  font-weight: bolder;
  margin-bottom: 10px;
}
 
.form-row {
  padding-bottom: 20px;
 
}
 
.form-field, textarea{
 
  padding: 8px;
  border: none;
  border-bottom: 1px solid #000;
}
 
.send-btn {
  border: 0px;
  border-radius: 12px;
  padding: 12px 26px;
  background-color: #cfa658;
  color: rgb(17, 16, 16);
}
/*end of contact*/
 
.image {
  display: block;
  width: 50%;
  height: auto;
}
 
/*start of booking page*/
.content-form h4 {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.content-form {
  padding: 25px 50px 25px 50px;
  margin-top: 100px;
  margin: 0 280px;
  border-radius: 10px;
  overflow: hidden;
  background: #cfa658;
  box-shadow: 0 15px 20px rgba(10, 0, 0, 0.6);
  clear: both;
  display: flex;
  
}
label {
  padding: 25px 30px 25px 50px;
  display: inline-block;
  font-weight: bold;
  font-size: medium;
}
 
input[type="text"],
textarea {
  width: 20%;
  padding: 15px;
  margin-left: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="email"] {
  width: 20%;
  padding: 15px;
  margin-left: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="tel"]{
  width: 20%;
  padding: 15px;
 
  border: 1px solid #ccc;
  border-radius: 4px;

  box-sizing: border-box;
}

input[type= "number"],select{
  width: 30%;
  padding: 15px;
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 4px; box-sizing: border-box;
}

input[type= "comment"],select{
  width: 20%;
  padding: 15px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; box-sizing: border-box;
}


input[type="date"] {
  width: 20%;
  padding: 15px;
  margin-left: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="button"] {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 15px;
  margin-left: 30%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: left;
  transition: .4s ease;
}
button[type="button"]:hover {
  background-color: #566ce6;
}
 
.input-label {
  float: left;
  width: 25%;
  margin-top: 6px;
}
 
 
/*end of bookings*/
@media (max-width: 900px) {
  .home h1 {
    font-size: 35px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 44px;
  }
  p {
    font-size: 18px;
  }
  .home {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 80px 20px;
  }
  nav a {
    font-size: 14px;
  }
  .icon {
    background: #cfa658;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    margin-top: 25px;
  }
 
  .container {
    display: none;
  }
  .logo {
    max-height: 70px;
  }
 
  .content {
    padding:0%;
  }
  .captions{
    display: list-item;
    justify-content: center;
    list-style: none;
  }
  .card {
   flex: 1;
   margin: 0 10px;
   width: 400px;
   margin-bottom: 10px;
  }
  .card h1{
    font-size: 55px;
  }
  .services{
    display: block;
    margin-left: 1px;
  }
  .gallery-container {
    display: flex;
  }
  /*Contact*/
  .content-contact{
    display: block;
  }
  .col-1 {
    width: 350px;
    margin: 40px;
    background-color: #cfa658;
    border-radius: 10px;
  }
  .iframe {
    width: 380px;
    margin-left: 20px;
  }
  .container-contact {
    color: rgb(5, 5, 5);
    line-height: 1.5;
    text-align: center;
    width: 280px;
    margin-left: 55px;
    margin-top: 0;
  }
  .container-contact h1{
    margin-left: 5px ;
    margin-top: 0;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  }
  #myForm h2 {
    font-size: 37px;
  }
  .content-form {
    margin-left: 5px;
    width: min-content;
    height: min-content;
    padding:10px 80px;
  }
  button[type="button"] {
   display: block;
  }
  .places-info{
    padding-top: 10px;
  }
  .places-south-africa p{
    margin-left: 60px;
    width: 300px;
    padding-top: 10px;
   
  }
  .destination p {
    font-size: 28px;
    width: 550px;
    padding-right: 100px;
   
  }
  .map{
    margin-right: 5px;
    margin-left: 1px;
    margin-top: 50px;
    width: 420px;
    margin-bottom: 25px;
  }
  .locations {
    padding-left: 15px;
    margin-top: 10px;
  }
  .places-locations{
    margin-top: 10px;
  }
  .places-locations h1{
    margin-left: 50px;
  }
  .places h1{
    font-size: 55px;
    margin-right: 25px;
    margin-top: 1px;
    color: goldenrod;
  }
  .places img{
    background-image: url(/images/leo.avif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 100px 10px 100px 10px;
    border-radius: 5px;
    height: 300px;
  }
}
 
/* navbar ul and services ul*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
 
nav li {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 17px;
  display:flex;
}
 
li a, .dropbtn {
  display: inline-block;
  color: rgb(8, 6, 6);
  text-align: center;
 
  padding: 14px 16px;
  text-decoration: none;
}
 
li a:hover, .dropdown:hover .dropbtn {
  background-color: #d3a31f;
}
 
li.dropdown {
  display: inline-block;
}
 
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d3a31f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdown-content a {
  color: rgb(2, 2, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
 
.dropdown-content a:hover {background-color: #ffffff;}
 
.dropdown:hover .dropdown-content {
  display: block;
}
 
#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
 
#myBtn10{
  background-color: #cfa658;
  display: flex;
  float: right;
}
 
#myBtn:hover {
  background-color: #555;
}