body {
  background-color: #cddff0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  padding: 20px 0;
}
.logo {
  max-height: 80px;
}
.navbar ul {
  list-style: none;
  background-color: #51adcf;
  padding: 0;
  margin: 0;

}
.navbar li {
  display: inline-block;
  line-height: 44px;
  margin-left : 15px;
  padding-right: 10px;
  
}
a:hover {
  background-color: #d0e1eb;
}
.navbar a {
  color: #020202;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
  display: block;
  
}
.home h1 {
  color: #ffffff;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 50px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 24px;
  line-height: 1.5px;
}

.home p {
  color: #ffffff;
  text-align: center;
  font-family: Comic sans MS;
  font-size: 35px;
}
.rea {
  text-align: left;
  margin-bottom: 10px;
}
